.Rhistory
[0-9]*
temp
tmp
gis
*.Rmd
*.html
*~
*.rds
*.html
wc*
*old
notes
*/offline
*summaryPercentiles*
outputCompiled/agbTotal*.RData
outputCompiled/ageMax*.RData
outputCompiled/log_BiomassC*.RData
outputCompiled/log_Pools*.RData
outputCompiled/log_Summary*.RData
outputCompiled/AGbio_output*.csv
climate